@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akira-Expanded";
  src: url(/fonts/Akira-Expanded.woff) format(woff);
}
@font-face {
  font-family: "Helvetica-Neue-Heavy";
  src: url(/fonts/HelveticaNeueHeavy.woff) format(woff);
}

@font-face {
  font-family: "CyGrotesk";
  src: url("./assets/kobuzan-cy-grotesk-grand-dark.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNueueHeavy";
  src: url("./assets/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
